.main_heading_landing_page{
  color: white;
  font-weight: 700;
  font-size: 3.1em;
  line-height: 100.69%;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}
.color_main_landing_page{
  position: relative;
}
.color_main_landing_page::before{
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to top , rgba(0, 0, 0, 0.825), rgba(0, 0, 0, 0));
}
.video_holder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main_video{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}
.landing_page_explore_more_btn{
  font-weight: 200;
  position: relative;
  font-family: "poppins";
  margin-top: 30px;
  font-size: .9em;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
.landing_page_explore_more_btn::before{
  content: "";
  position: absolute;
  bottom: -10px;
  width: 7px;
  height: 7px;
  left: 50%;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: translateX(-50%) rotate(45deg);
  animation-name: ExploreMore;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.main_flex_cnt_landing_page{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main_cnt_heading_landing_page_holder{
  position: absolute;
  margin-bottom: 20px;
  z-index: 10;
  width: 100%;
  text-align: center;
  bottom: 20px;
  margin-left: 20px;
}
.image_shirt_landing_page{
  position: absolute;
  top: 55%;
  right: 30px;
  height:55vw;
  max-height: 85vh;
  transform: translateY(-50%);
  filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.771));

}

/* Know About Us */

.image_know_about_us{
  width: 100%;
  margin-bottom: calc(10vh + 2em);
  display: flex;
  justify-content: space-between;
}
.image_know_about_us_assu{
  width: 100%;
  margin-bottom: calc(10vh + 2em);
  display: flex;
  justify-content: space-between;
}
.image_know_about_us_image_main{
  width: 55%;
  height: calc(100% + 10vh);
}
.image_know_about_us_image_main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description_div_cnt{
  width: 38%;
  position: relative;
  margin-inline: auto;
  margin-top: 35px;
  z-index: +10;
}
.description_div_cnt::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: var(--landingPageColor);
  z-index: -1;
  left: 0;
  bottom: -20px;
  transform: skewY(-10deg) ;
}
.description_div_cnt::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: var(--landingPageColor);
  z-index: -1;
  left: 0;
  top: 0;
}
.heading_logo_know_about_us_h2{
  font-weight: 700;
  font-size: 2.6em;
  line-height: 100.69%;
  letter-spacing: -0.12em;
  text-transform: uppercase;
}
.description_div_cnt{
  padding: 0% 1em;
  padding-top: 3%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.heading_logo_know_about_us_logo{
  width: 90px;
}
.heading_logo_know_about_us_para{
  font-family: "poppins";
  font-style: normal;
  margin: 20px 0;
  font-weight: 300;
  font-size: .85em;
  line-height: 150%;
  text-transform: capitalize;
}
.heading_logo_know_about_us{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading_logo_know_about_us_btn{
  width: 160px;
  height: 45px;
  margin-left: 30px;
  font-size: .9em;
  background-color: black;
}


/* Browse Our Products */

.our_products_main_cnt{
  width: 100%;
  background-image: url("/src/browse our products background image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.main_dispaly_flex_cnt_browse{
  display: flex;
  justify-content: space-evenly;
  padding: 4em 0;
}
.card_scroller_categories{
  position: relative;
  width: 40vw;
  overflow-y: hidden;
  border-bottom-right-radius: 30vh;
  display: flex;
  scroll-behavior: smooth; 
  height: calc(80vh + 7vw);
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  transition: all 200ms ease;
}
.arrow_btn_scroll{
  background-color: black;
  position: absolute;
  height: 35px;
  left: 20px;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  border-radius: 50%;
  width: 35px;
  transform: rotate(180deg) translateY(50%);
}
.arrow_btn_scroll_img{
  width: 40%;
}
.main_btn_cnt_scroller{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.arrow_btn_scroll_2{
  background-color: black;
  position: absolute;
  z-index: 10;
  right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  height: 35px;
  width: 35px;
  transform: translateY(-50%);
}
.card_scroller_categories::-webkit-scrollbar {
  width: 0px;
}
.card_scroller_categories_img{
  width: 40vw;
  height: 100%;
  object-fit: cover;
}
.card_scroller_categories_img_2{
  width: 40vw;
  height: 100%;
  object-fit: cover;
}
.card_scroller_categories_h1{
  position: absolute;
  bottom: 25%;
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 87.69%;
  letter-spacing: -0.12em;
  text-transform: uppercase;
  left: calc(10px + 2vw);
}
.card_scroller_categories_btn{
  background-color: black;
  font-size: .9em;
  padding: 12px 50px;
  font-weight: 300;
  position: absolute;
  bottom: calc(25% - 4em);
  left: calc(10px + 3vw);
}
.main_details_part_browser{
  width: 50%;
}
.main_details_part_browser_h1{
  font-family: 'Lexend Giga';
  margin-top: 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 4em;
  line-height: 87.69%;
  text-align: right;
  letter-spacing: -0.12em;
  text-transform: uppercase;
}
.main_details_part_browser_p{
  font-family: 'Poppins';
  margin-top: 25px;
  font-style: normal;
  font-weight: 200;
  font-size: .95em;
  line-height: 124.19%;
  text-align: right;
  letter-spacing: 0.055em;
  text-transform: capitalize;
}


/* Our Assurance */


.flex_div_items_assu{
  display: flex;
  justify-content: start;
  align-items: center;
}
.image_icon_assu{
  width: 40px;
  margin-right: 20px;
}


/* Collection */

.collection_heading{
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 3.7em;
  line-height: 102.69%;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 62px rgba(0, 0, 0, 0.25);
}
.collection_grid{
  display: grid;
  margin-top: 2em;
  overflow: hidden;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(45vh, 300px);
}
.item_collection_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms ease-out;
}
.collection_grid_item{
  position: relative;
  overflow: hidden;
}
.collection_grid_item:hover .item_collection_img{
  transform: scale(1.04);
}
.item_collection_h_holder{
  position: absolute;
  bottom: 10px;
  left: 10px;
  
}
.item_collection_h1{
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 700;
  font-size: 2.4em;
  line-height: 100.69%;
  letter-spacing: -0.115em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.collection_grid_item_2{
  grid-row: 2 span;
}
.collection_grid_item_2 h1{
  font-size: 3.2em;
}
.item_collection_para{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  width: 80%;
  font-size: 1em;
  margin: 15px 0;
  margin-left: .115em;
  line-height: 124%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}


/* Contact */

.heading_contact_page{
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 800;
  margin: 40px 0;
  font-size: 2.8em;
  line-height: 102.69%;
  letter-spacing: -4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.contact_part_contact_section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.flex_div_items_contact{
  display: flex;
}
.image_icon_contact{
  height: 30px;
}
.logo_contact_section_img{
  width: 30%;
}
.contact_res_1400_40{
  width: 90%;
  margin: 0 auto;
  padding: 3em 0;
  margin-inline: auto;
  margin-top: 3em;
  background-image: url("/src/contact_background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.heading_logo_know_about_us_para_contact{
  font-family: 'Poppins';
  font-style: normal;
  margin-left: 10px;
  font-weight: 300;
  font-size: .91em;
  line-height: 115.5%;
  color: #FFFFFF;
}
.contact_info_contact_section{
  width: 40%;
  position: relative;
}
.logo_contact_section{
  width: 50%;
  text-align: center;
  position: relative;
}
.logo_contact_section::before{
  content: "";
  width: 100%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-left: 1px solid white;
}
.contact_info_contact_section::before{
  content: "";
  width: 60%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.flex_div_items_contact{
  margin: 20px 0;
}
.logo_contact_section_para{
  font-family: 'Poppins';
  font-style: normal;
  padding: 2em 0;
  margin: 0 auto;
  font-weight: 300;
  font-size: .8em;
  width: 90%;
  line-height: 115.5%;
  text-align: center;
  letter-spacing: -0.035em;
  color: #FFFFFF;
}
.subscribe_contact_section{
  display: flex;
  padding: 10px 20px;
  width: fit-content;
  margin-inline: auto;
  margin: 0 auto;
  align-items: center;
  margin-top: 3em;
  background-color: var(--mainColorAll);
}
.subscribe_contact_section_heading_part_img{
  height: 20px;
}
.subscribe_contact_section_heading_part_para{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  font-size: 1em;
  margin: 0 20px;
  line-height: 115.5%;
}
.subscribe_contact_section_input_part_input{
  outline: none;
  border: none;
  padding: 0 20px;
  font-weight: 200;
  font-family: "poppins";
  width: 200px;
  height: 40px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: var(--landingPageColor);
}
.btn_input_subscribe_div{
  height: 40px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--landingPageColor);
  cursor: pointer;
  transition: all 200ms ease;
}
.btn_input_subscribe_div:hover{
  background-color: #363636;
}
.subscribe_contact_section_input_part_btn{
  height: 40%;
}
.subscribe_contact_section_input_part{
  display: flex;
}
.subscribe_contact_section_heading_part{
  display: flex;
  align-items: center;
}




/* Animations */


@keyframes ExploreMore {
  0%, 100%{
    bottom: -10px;
  }
  50%{
    bottom: -20px;
  }
}



/* Media Queries */


@media only screen and (min-width: 1900px) {
  .description_div_cnt{
    padding: 1em 2em;
  }
  .heading_logo_know_about_us_para{
    font-size: 1.7em;
    line-height: 170%;
    margin: 1.5em 0;
  }
  .heading_logo_know_about_us_btn{
    width: 220px;
    height: 75px;
    font-size: 1.2em;
  }
  .heading_logo_know_about_us_h2{
    font-size: 3.7em;

  }
  .heading_logo_know_about_us_logo{
    width: 170px;
  }
  .main_dispaly_flex_cnt_browse{
    font-size: 1.7em;
  }
  .heading_contact_page{
    font-size: 3.2em;
  }
}
@media only screen and (max-width: 900px) {
  .heading_logo_know_about_us_btn{
    margin-left: 0;
  }
  .subscribe_contact_section_input_part_input{
    width: calc(100% - 40px);
  }
  .subscribe_contact_section_input_part{
    margin-top: 20px;
    width: 100%;
  }
  .subscribe_contact_section{
    width: 94%;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
  }
  .subscribe_contact_section_heading_part_para{
    font-size: .9em;
  }
  .contact_res_1400_40{
    width: min(100% - 20px, 1400px);
  }
  .heading_contact_page{
    font-size: 2.2em;
    text-align: center;
  }
  .collection_heading{
    font-size: 1.9em;
  }
  .collection_grid_item_2{
    grid-row: 1 span;
  }
  .collection_grid_item_2 h1{
    font-size: 2.4em;
  }
  .contact_part_contact_section{
    flex-direction: column;
  }
  .logo_contact_section{
    width: 95%;
    padding-top: 3em;
  }
  .contact_info_contact_section{
    padding-bottom: 3em;
    width: 95%;
  }
  .contact_info_contact_section::before{
    border-bottom: 1px solid white;
  }
  .logo_contact_section::before{
    border: none;
  }
  .collection_grid{
    grid-template-columns: 1fr;
    font-size: .8em;
    grid-gap: 10px;
  }
  .image_know_about_us{
    flex-direction: column;
    height: auto;
  }
  .image_know_about_us_assu{
    flex-direction: column;
    height: auto;
    flex-flow: column-reverse;
  }
  .image_know_about_us_image_main{
    width: 100%;
  }
  .description_div_cnt{
    width: min(100%  - 30px, 1400px);
    margin: 0 auto;
    margin-top: calc(1em + 10px);
    margin-inline: auto;
  }
  .main_dispaly_flex_cnt_browse{
    flex-direction: column;
    flex-flow: column-reverse;
  }
  .card_scroller_categories{
    width: min(100vw  - 20px);
    margin: 0 auto;
    margin-inline: auto;
  }
  .card_scroller_categories_img{
    width: calc(100vw - 20px);
  }
  .card_scroller_categories_img_2{
    width: calc(100vw - 20px);
  }
  .main_details_part_browser{
    width: min(100% - 20px, 1400px);
    margin: 0 auto;
    margin-inline: auto;
    margin-bottom: 2em;
  }
  .main_details_part_browser_h1{
    font-size: 3.5em;
    margin: 0;
  }
  .main_details_part_browser_p{
    font-size: 1em;
  }
}
@media only screen and (max-width: 850px) {
  .image_shirt_landing_page{
    display: none;
  }
  .main_cnt_heading_landing_page_holder{
    margin-left: 0;
  }
  .main_heading_landing_page{
    font-size: 3em;
  }
}


@media only screen and (max-width: 450px) {
  .main_dispaly_flex_cnt_browse{
    font-size: .85em;
  }
  .image_know_about_us{
    font-size: .85em;
  }
  .image_know_about_us_assu{
    font-size: .85em;
  }
  .main_heading_landing_page{
    font-size: 2.9em;
  }
  .landing_page_explore_more_btn{
    font-size: .9em;
  }
}


