.background_navbar{
    background-color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}
.content_navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    overflow: hidden;
    align-items: center;
}
.logo_navbar{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_img_navbar{
    height: 80%;
}
.linkers_navbar{
    display: flex;
}
.linkers_navbar_Link{
    font-family: "poppins";
    font-size: 1.1em;
    cursor: pointer;
    font-weight: 300;
    margin: 0 3vw;
    text-decoration: none;
}
.search_img_navbar_linker{
    height: 1.1em;
    cursor: pointer;
    margin: 0 3vw;
}
.menu_btn_navbar{
    height: 30px;
    display: none;
    cursor: pointer;
}
.menu_btn_navbar_search{
    height: 1.1em;
    display: none;
    cursor: pointer;
}


/* Main Menu */

.main_menu_navbar{
    width: 100%;
    position: fixed;
    height: 100vh;
    display: flex;
    background: rgba(0, 0, 0, 0.884);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
}
.linker_menu_navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.linker_menu_navbar_Link{
    font-family: "poppins";
    font-size: 1.3em;
    cursor: pointer;
    font-weight: 300;
    text-align: center;
    margin: 1.5vh 0;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: none;
    transform: translateX(-40px);
    transition: all 200ms ease;
}
.main_menu_img_search{
    cursor: pointer;
    text-align: center;
    margin: 1.5vh 0;
    transform: translateX(-40px);
    width: 30px;
    transition: all 200ms ease;
}
.linker_menu_navbar a:hover{
    letter-spacing: 6px;
}
.open_menu{
    right: 0;
}
.close_menu{
    transition-delay: 300ms;
    right: -100%;
}
.cross_btn_main_menu{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-weight: 200;
    font-size: 1.4em;
}

/* Search Menu */

.search_input{
    width: min(100% - 20px, 500px);
}
.main_search_cnt{
    position: fixed;
    left: 0;
    top: 110%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.884);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.5);
    opacity: 0;
    transition: all 300ms ease;
}
.search_input{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(100% - 20px, 400px);
    border-radius: 10px;
    background-color: var(--mainColorAll);
    position: relative;
}
.search_input_feild{
    width: calc(100% - 50px);
    padding:12px 15px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 100px;
    background-color: var(--landingPageColor);
    border: none;
    outline: none;
}
.search_input_result{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    height: calc(400px - 48px);
    overflow-y: scroll;
    overflow-x: hidden;
}
.search_input_result::-webkit-scrollbar {
    width: 7px;
}
.search_input_result::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: var(--landingPageColor);
}
.open_search{
    opacity: 1;
    top:  0;
    transform: scale(1);
}
.close_search{
    top: 110%;
    transform: scale(.8);
    opacity: 0;
}
.search_link_search_bar_navbar_search_pop_up{
    margin: 2px 0px;
    border-radius: 5px;
    text-decoration: none;
    width: 98%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.02);
    font-size: .8em;
    font-weight: 200;
}




/* Media Queries */


@media only screen and (max-width: 850px) {
    .menu_btn_navbar{
        display: block;
    }
    .menu_btn_navbar_search{
        display: block;
    }
    .linkers_navbar{
        display: none;
    }
}